[color]
	ui = true
	grep = auto
[user]
	email = clc.iguto@gmail.com
	name = iguto
[push]
	default = current
[log]
	decorate = short
[alias]
	ignore = "!gi() { curl http://www.gitignore.io/api/$@ ;}; gi"
  lock = "update-index --skip-worktree"
  locked = "!f() { git ls-files -v | grep ^S | sed -e 's|S ||'; }; f;"
  unlock = "update-index --no-skip-worktree"
[core]
	excludesfile = /home/ookawa/.gitignore
[issue]
	type = github
[pager]
	diff = diff-highlight | less
[grep]
	lineNumber = true
[color "grep"]
	linenumber = magenta
