[color]
	ui = true
[user]
	email = clc.iguto@gmail.com
	name = iguto
[push]
	default = current
[log]
	decorate = short
[alias]
	ignore = "!gi() { curl http://www.gitignore.io/api/$@ ;}; gi"
[core]
	excludesfile = /home/ookawa/.gitignore
