
#
# setting file of readline
#


# 大文字小文字を同一視して補完
set completion-ignore-case on

# 8bitクリーン？
#set meta-flag on
#set convert-meta off
#set output-meta on

"\C-p" history-search-backward
"\C-n" history-search-forward

"\C-x\C-f" vi-char-search
